body {
    background-image: linear-gradient(to bottom, darkgray, gray);
    display: table;
    justify-content: left; /*horizontal*/
}

#mainWrapper {
    width: 1050px;
    height: 910px;
    min-width: 1050px;
    display: table-cell;
    vertical-align: top;
}

#mainDiagram {
    width: 1050px;
    height: 500px;
    text-align: center;
    border: 1px solid white;
    margin-right: -2px;
}

#secondDiagram {
    position: relative;
    width: 1050px;
    height: 400px;
    text-align: left;
    border: 1px solid white;
}

#filterBar {
    width:600px;
    min-width: 610px;
    display:table-cell;
    text-align: center;
    border: 1px solid white;
    margin-left: -1px;
    margin-right: -1px;
}

#provenanceBar {
    width:250px;
    min-width: 200px;
    padding-left: 0px;
    padding-right: 0px;
    display:table-cell;
    border: 1px solid white;

}

.provenanceElem {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
}


#selection {
    display: inline-flex;
    height: 300px;
    padding-left: 30px;
    padding-right: 20px;
    bottom: 5px;
    align-content: center;

}

#map {
    width:550px;
    margin: 10px 10px 10px 10px;
}

/*---------------------------------------*/

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: gray;
    float: left;
    border: inherit;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
hr {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    bottom: 405px;
    border-style: inset;
    border-width: 2px;
}


.provenanceButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*----------------------------------------------------------------------*/

svg {
    font: 10px sans-serif;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: white;
    cursor: move;
}

/*--------------------------------------*/

.country:hover, .country::selection{
    stroke: #fff;
    stroke-width: .9px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    font: 10px sans-serif;
    padding: .3rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid black;
    border-radius: 2px;
    pointer-events: none;
}

/*---------------------------------------*/

.container{
    width: auto;
    border: 2px solid white;
    border-radius: 3%;
}

input, label{
    padding-top: 5px;
    display: -webkit-box;
    text-align: right;
}
