body {
    background-image: linear-gradient(to bottom, black, gray);
    display: table;
    justify-content: left; /*horizontal*/
}

#mainWrapper {
    width: 1050px;
    height: 910px;
    min-width: 1050px;
    display: table-cell;
    vertical-align: top;
}

#mainDiagram {
    width: 1050px;
    height: 550px;
    text-align: center;
    border: 1px solid white;
    margin-right: -2px;
}

#secondDiagram {
    width: 1050px;
    height: 330px;
    text-align: left;
    border: 1px solid white;
}

#filterBar {
    width:600px;
    min-width: 610px;
    display:table-cell;
    text-align: center;
    border: 1px solid white;
    margin-left: -1px;
    margin-right: -1px;
}

#provenanceBar {
    width:250px;
    min-width: 200px;
    display:table-cell;
    text-align: center;
    border: 1px solid white;
}


#selection {
    display: inline-flex;
    padding-left: 30px;
    padding-right: 20px;
    align-content: center;
}

#map {
    width:500px;
    margin: 20px 30px 5px 5px;
}

/*---------------------------------------*/

/* Style the tab */
.tab {
    height: 25px;
    overflow: hidden;
    border: 1px solid white;
    background-color: dimgray;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    display: inline-block;
    text-align: center;
    color: #FFFFFF;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 18px;
    background-color: #878787;
    border-radius: 8px;
    padding: 2px 6px;
    border: 0px solid #FFFFFF;
    cursor: pointer;
}

.tab button:hover,
.tab button:focus,
.tab button:focus {
    background-color: #2E2E2E;
    border-color: #2E2E2E;
}

/*----------------------------------------------------------------------*/

svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: #ddd;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis text {
    fill: white;
    cursor: move;
}

/*--------------------------------------*/

.country:hover, .country::selection{
    stroke: #fff;
    stroke-width: .9px;
}
div.tooltip {
    position: absolute;
    text-align: center;
    padding: .3rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid black;
    border-radius: 2px;
    pointer-events: none;
    font-size: 0.9rem;
}

/*---------------------------------------*/

.container{
    width: auto;
    border: 2px solid white;
    border-radius: 3%;
}

input, label{
    padding-top: 5px;
    display: -webkit-box;
    text-align: right;
}
